body {
  color: #E4E6C3;
  background-color: #222725;
}

#container-location,
#container-icontemp,
#container-description,
#container-extra {
  text-align: center;
}

#container-icontemp {
  font-size: 15em;
}