body {
  background-color: #F0B67F;
}

div {
  border: solid 1px #BD8F64;
}

#location,
#time,
#icon,
#temp,
#description {
  text-align: center;
}

#temp {
  font-size: 10em;
}

#icon {
  font-size: 10em;
}